{% extends "layout.html" %}
 
{% block content %}
 
<div class="user-profile">
  <div class="page-header">
    <h2>Course Profile</h2>
  </div>
 
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card text-center">
          <div class="card card-primary">
            <div class="card-header">Resources</div>
            <div class="card-body"><a href="{{ url_for('courseoutlines.course_outline_profile', course_id=course_id) }}">Course Outlines</a></div>
            <div class="card-body"><a href="#">Past Examinations</a></div>
            <div class="card-body"><a href="#">Notes</a></div>
          </div>
        </div>      
      </div>
    </div>
  </div>     
</div>
 
{% endblock %}