{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
 
<div class="user-profile">
  <div class="page-header">
    <h2>Program Profile</h2>
  </div>
 
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-primary">
        <div class="card-header">First Year</div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
      </div>
      <div class="card card-primary">
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
      </div>
      <div class="card card-primary">
        <div class="card-header">Third Year</div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
      </div>
      <div class="card card-primary">
        <div class="card-header">Fourth Year</div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
        <div class="card-body"><a href="#">Change Email Address</a></div>
      </div>
    </div>
  </div>     
</div>
 
{% endblock %}