{% extends "layout.html" %}
 
{% block content %}
 
 
<div class="add-recipe">
 
<div class="page-header">
 
<h2>Add a New Course Outline</h2> 
  </div> 
 
<form action="{{ url_for('courseoutlines.add_course_outline', course_id=course_id) }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
 
<dl>
      {{ form.title }}
      {{ form.description }}
      {{ form.document }}
    </dl>
 
    <button class="btn btn-sm btn-success" type="submit">Add Course Outline</button>
  </form>
 
</div>
 
 
{% endblock %}